@import url("https://fonts.googleapis.com/css2?family=Google+Sans&display=swap");

body {
  background-color: #fdc555;
  color: black !important;
  align-items: center;
}


.container {
  display: grid;
  place-items: center;
  height: 85vh;
}

.table-container {
border: 20px black !important;
}

.titleX {
  font-family: Playfair Display, serif !important;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #F07837;
}

.table {
  border-radius: 20px; 
  background-color: white;
}
.tableX {
  width: 500px !important;
  border: 20px black ;

}

.collapsing {
  transition-duration: 0s !important;
}

.chevron {
  transition: transform 2s !important;
}

.bi-chevron-up {
  color: red;
  transform: rotate(180deg) !important;
  transition: transform 2s !important;
}

.bi-chevron-down {
  color: green;
  transform: rotate(180deg) !important;
  transition: transform 2s !important;
}

.table-rowA {
  cursor: pointer;
  color: blue;
}
