@import url('https://fonts.googleapis.com/css2?family=Google+Sans&display=swap');

body {
background-color: red;
color: black !important;
align-items: center;
}

.titleA {
  font-family: 'Google Sans', sans-serif !important;
  margin: 10px;
}

.tableX {
  width: 500px !important;
}

.collapsing {
  transition-duration: 0s !important;
}


.chevron {
    transition: transform 2s !important;
  }


.bi-chevron-up {
  color: red;
  transform: rotate(180deg) !important;
  transition: transform 2s !important;
  }

.bi-chevron-down {
  color: green;
    transform: rotate(180deg) !important;
    transition: transform 2s !important;
  }

  .table-rowA {
    cursor: pointer;
    color: blue;
  }